<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method = "post" action="/saved">
        <label for="name-input">Title</label>
        <br>
        <input type="text" name="Title">
        <br>
        <label for="Description">Description</label>
        <br>
        <input type="text" name = "Description">
        <br>
        <label for="Markdown">Markdown</label>
        <br>
        <textarea name="Markdown" id="" cols="30" rows="3"></textarea>
        <br>
        <button>Save</button> <button>Cancel</button>
    </form>
</body>
</html>